# Execute it as a markdown cell
# H1: Data Science Tools and Ecosystem

# Execute it as a markdown cell
In this notebook, Data Science Tools and Ecosystem are summarized.

# Execute as a markdown cell unordered list

***Objectives:***

- List popular languages for Data Science
- List some of most popular libraries for Data Science
- Prove how to create a simple table
- Do some calculations

# Execute it as a markdown cell
Some of the popular languages that Data Scientists use are:

# Execute as a markdown cell ordered list
1. Python
2. R
3. SQL

# Execute it as a markdown cell
Some of the commonly used libraries used by Data Scientists include:

# Execute as a markdown cell ordered list
1. NumPy
2. SciPy
3. Pandas
4. Matplotlib

## Execute as a markdown cell

| Data Science Tools |
| -------------|
| JupiterLab |
| Visual Studio Code |
| GitHub |

In [ ]:
# Execute it as a markdown cell
# H3: Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Execute it as a markdown cell
# H2: Author
Camilla Battista